<h2> <%= @trip.name %></h2>

<ul class=trip_trails>
  <% @trip.trails.each do |trail| %>
    <li><%= link_to trail.name, trail_path(trail) %>  <%= trail.length %> <%= trail.address %></li>
  <% end %>
</ul>

Total Hiking Distance: <%= @trip.total_distance %>

Average Hiking Distance: <%= @trip.average_distance %>

Longest Hiking Distance: <%= @trip.longest_distance %>

Shortest Hiking Distance: <%= @trip.shortest_distance %>
